
<div class='columns large-pull-1 large-3'>
<div class='columns show-for-large'>
<h3>On Facebook</h3>
<div style='margin-left:-7px' class="fb-like-box" data-href="http://www.facebook.com/pages/Varitech-Inc/220313318077" data-width="240" data-show-faces="false" data-border-color="white" data-stream="true" data-header="false"></div>
</div>
<div class='columns hide-for-large medium-10 small-10'>
<h3>On Facebook</h3>
<div class="fb-page"
 data-href="https://www.facebook.com/pages/Varitech-Inc/220313318077"
 data-hide-cover="false"
 data-show-facepile="false" 
 data-show-posts="false">
</div>
</div>
</div>
