
<h3>Contact Varitech, Inc.</h3>
<h5>Contact Us With <i>Any Questions, Comments</i>,<br />Or <i>Request a Quote</i> for your generator and CNG needs</h5>
<form action="process.php" method="POST" class="contact">
<input class="text" id="name" name="name" placeholder="name" type="text" />
<input class="text" id="phone" name="phone" placeholder="phone" type="text" />
<input class="text" id="email" name="email" placeholder="email" type="text" />
<input class="text" id="address" name="address" placeholder="address" type="text" />
<h2>Areas of Interest</h2>
<ul class="menu ">
<li><input id="iGenerator" name="iGenerator" type="checkbox" value="1" />
<label for="iGenerator">Generator Systems</label></li>
<li><input id="iCNG" name="iCNG" type="checkbox" value="1" />
<label for="iCNG">CNG / Compressed Natural Gas</label></li>
<li><input id="iOther" name="iOther" type="checkbox" value="1" />
<label for="iOther">Other</label></li>
</ul>
<br />
<textarea id="message" name="message" placeholder="message" rows="5"></textarea>
<div class="row">
<div class="large-5 medium-5 columns">
<div class="g-recaptcha" data-sitekey="6LerUycTAAAAADiGTkE0zc3TbA9zV-egJfLKippz"></div>
</div>
<div class="large-5 medium-5 columns">
<br />
<button type="submit" class="success button">Send Email</button>
</div>
</div>  
</form>
