
<div class="row footer-spacer"></div>
<footer>
<div class='footer-bar'></div>
<br />
<div class='row'>
<div class="columns medium-1 large-1">
<a href='http://www.bbb.org/louisville/business-reviews/generators-electric/varitech-inc-in-louisville-ky-2031672/' target='_BLANK'><img src='{{root}}assets/img/bbb-logo.png' alt='BBB Accredited Business' /></a>
<br />
</div>
<div class="columns medium-3 large-2">
<a class='footer-text' href='website-copyright.html'>&copy; Copyright 2005-2017, Varitech, Inc<br /> All Rights Reserved<br />last update 20170217<br /></a>
<br />
</div>	
<div class="columns medium-3 large-2">
<div class="footer-text">
Varitech, Inc<br />
4647 Pinewood Road<br />
Louisville, KY 40218<br />
(502) 966-3400 | Phone<br />
(502) 966-3224 | Fax<br />
</div>
</div>
</div>
<br />
</footer>
