
<div class="row">
<nav class="top-bar hide-for-small-only" data-topbar role="navigation">
<div id='logo' class='top-bar-left show-for-large'>
<a href='index.html'><img src='{{root}}assets/img/logo.png' alt='Varitech Generator Sales' /></a>
</div>
<section class='top-bar-right'>
<ul class='menu expanded'>
<li><a href='{{root}}index.html'>home</a></li>
<li><a href='{{root}}products.html'>products</a></li>
<li><a href='{{root}}services.html'>services</a></li>
<li><a href='{{root}}testimonials.php'>testimonials</a></li>
<li><a href='{{root}}about.html'>about us</a></li>
<li><a href='{{root}}contact.html'>contact</a></li>
<li><a href="tel:+01-502-966-3400">502.966.3400</a></li>
</ul>
</section>
</nav>
</div>

<div class="row show-for-small-only">
<nav>
<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
<button class="menu-icon" type="button" data-toggle></button>
<div class="title-bar-title small-menu">Varitech</div>
</div>
<div class="top-bar" id="responsive-menu">
<ul class="vertical menu small-menu" data-responsive-menu="drilldown medium-dropdown" style="width: 300px;">
<li><a class="small-menu" href='{{root}}index.html'>home</a></li>
<li><a class="small-menu" href='{{root}}products.html'>products</a></li>
<li><a class="small-menu" href='{{root}}services.html'>services</a></li>
<li><a class="small-menu" href='{{root}}testimonials.php'>testimonials</a></li>
<li><a class="small-menu" href='{{root}}about.html'>about us</a></li>
<li><a class="small-menu" href='{{root}}contact.html'>contact</a></li>
<li><a class="small-menu" href="tel:+01-502-966-3400">502.966.3400</a></li>
</ul>
</div>
</nav>
</div>

